.heading{
    height: 50px;
    background-color: black;
    color: whitesmoke;
    padding: 8px;
    text-align: center;
}
nav{
    height: 40px;
    background-color: rgb(4,4,53);
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-items{
    color: white;
    text-decoration: none;
    margin-right: 50px;
}