
body {
  margin: 0;
  padding: 0;
  background-color: #fff;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
}


.page-title {
  font-size: 26px;
  font-weight: bold;
  text-align: center;
  background-color: black;
  color: white;
  padding: 15px;
  width: 100%;
  margin: 0;
}


.form-box {
  background: #fff;
  margin: 30px auto;
  padding: 25px 20px;
  border-radius: 8px;
  width: 350px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
  text-align: left;
}


.form-box h2 {
  text-align: center;
  margin-bottom: 20px;
  font-weight: bold;
  color: #333;
}


label {
  display: block;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 5px;
  color: #222;
}


input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
  outline: none;
}

input:focus {
  border-color: #4CAF50;
  box-shadow: 0 0 5px rgba(76,175,80,0.5);
}


.btn {
  width: 100%;
  padding: 10px;
  background-color: #28a745; /* Green */
  border: none;
  border-radius: 6px;
  color: white;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 10px;
  transition: 0.3s ease;
}

.btn:hover {
  background-color: darkgreen; 
}


a {
  color:blue;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}


span {
  display: block;
  margin-top: 10px;
  font-size: 14px;
  text-align: center;
}