.container{
    width: 400px;
    box-shadow: 0px 0px 10px black;
    padding: 10px;
    margin: 50px auto;
    text-align: center;
}

.formContainer{
    display: flex;
    flex-direction: column;
}

.formContainer input{
    height: 30px;
}

.formContainer button{
    height: 40px;
    width: 70px;
    border: none;
    background-color: blue;
    color: white;
    border-radius: 10px;
}
.formContainer button:active{
    background-color: white;
    border: 3px solid black;
    color: black;
}
h3{
    text-align: center;
    color: green;
}